body  {
  background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1591217586-GettyImages-580492633.jpg) ;
}

.blockquote-footer  {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 4px;
}

.jumbotron  {
  background-image: url(https://cdn10.bigcommerce.com/s-fw2plafw/products/5122/images/6594/6082-2__65644.1429238131.1280.1280.jpg?c=2);
}

h1 {
  color: white;
}

.card {
  background-color: rgb(212, 245, 212);
}

p {
  color: beige;
}

.bg-primary {
  opacity: 0.5;
}

.bg-primary:hover {
  opacity: 1.0;
}

h5 {
  text-align: center;
}

a {
  color: red;
}